:root {
    /* --main-color: #0d6efd;  */
    --main-color: rgb(0, 128, 83);

    --sec-color: white;

    --ter-color: rgb(145, 49, 118);
}

html, body {
	font-family: "Dosis", sans-serif;
	position: relative;
	margin: 0; 
    padding: 0; 
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    min-height: 100vh; /* Minimum height of viewport  */
    background: url('./background.jpeg') no-repeat center center fixed; /* Local image as background */
    background-size: cover; /* Ensure the background covers the entire page */
    margin: 0;
    padding: 0;
    color: #ffffff; /* Default text color to white for better readability against the background */
}

.page-title{
    color: white;
    display: flex;
    justify-content: center;
}   

.page-title > h1 {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    margin: 0;
    display: inline;
}

.img-small {
    max-width: 300px;
    max-height: 200px;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

.btn-primary {
	background-color: var(--main-btn-color);
}

.hover-border-link{
    color: white;
    background-color: transparent;
    border-color: transparent;
    text-decoration: none;
    padding: 8px 13px;    /* Add some padding for button-like shape */
    border: 2px solid transparent;          /* No border by default */
    transition: all 0.1s;  /* Smooth transition effect */
}
.hover-border-link:hover{
    border: 2px solid var(--ter-color); /* Add border on hover */
    color: var(--ter-color);
    background-color: transparent; /* Ensure there's no fill */
    border-radius: 0.375rem;
    cursor: pointer;
}

.hover-border-link:active {
    font-weight: bold;
}

td {
    vertical-align: middle;
}


table {
    width: 80%;
    margin: 40px auto;
    border-collapse: separate;
    border-spacing: 0 15px; /* Space between rows */
    background-color: transparent; /* Transparent background for the table */
}
th, td {
    padding: 12px;
    text-align: left;
    background-color: transparent; /* Transparent background for cells */
}
th {
    font-size: 16px;
    color: #ffffff; /* White for header text */
    background-color: #9C5827; /* Dark teal for header background */
}
td {
    color: #000000; /* Black text color for contrast */
}
.rounded-row {
    background-color: #ffffff; /* Light gray for rows */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border-radius: 10px; /* Rounded corners for rows */
    overflow: hidden; /* Ensure rounded corners */
}

.rounded-row:hover {
    background-color: #e7f3f6; 
    color: #e9f4f9; /* White text on hover */
}
.rounded-row:hover td {
    color: #9C5827; /* Ensure text color changes on hover */
}
tr td:first-child, tr th:first-child { border-top-left-radius: 10px; }
tr td:last-child, tr th:last-child { border-top-right-radius: 10px; }

tr td:first-child, tr th:first-child { border-bottom-left-radius: 10px; }
tr td:last-child, tr th:last-child { border-bottom-right-radius: 10px; }

a.link-table-item {
    text-decoration: none;
    cursor: pointer;
    color: #9C5827;
    margin: 5px 5px 5px 5px;
}
a.link-table-item:hover {
    font-weight: bold;
}

/* tbody, td, tfoot, th, thead, tr {
    border: 0.1px rgba(255, 255, 255, 0.366) solid;
}

.table.table-striped td:nth-child(1), .table.table-striped th:nth-child(1) {
    padding-left: 22px; 
}

table {
    border-radius: 0.375rem; 
    background-color: rgba(0, 128, 83, 0.415);
    color: white;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    text-shadow: 1px 1px 2px var(--main-color);
}
table th, td {
    padding: 1em;
}

.table-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

table tr:hover{
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(145, 49, 118, 0.467);
} */

a.link-image-label {
    text-decoration: none;
    cursor: pointer;
    color: var(--sec-color);
}

.sorting-column {
    cursor: pointer;
}

.sorting-column i {
    font-size: 0.8rem;
    margin-left: 5px;   /* Adds space between column name and icon */
    opacity: 0.5;       /* Makes icon slightly translucent */
}

.sorting-column:hover i {
    opacity: 1;         /* Makes icon fully opaque when column is hovered */
}

.standard-btn {
    min-width: 15em;
}


input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url('./xmark-solid.svg') no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
    opacity: .3;
    pointer-events: all;
}

input {
    margin-bottom: 0;
    box-shadow: 1px 6px 10px -10px #666;
}


a {
    text-decoration: none;
}

.img-thumbnail{
    border: none;
    padding: 0;
}

.centered{
    display: flex;
    justify-content: center;
}