:root {
    /* --main-color: rgb(1, 137, 137);

    --sec-color: rgb(140, 195, 195); */
    --main-color: rgb(2, 74, 58);

    --sec-color: rgb(123, 175, 164);

    --text-color: rgb(57, 57, 57);

    

    --ter-color: #9C5827;
}

/* html, body */

html, body {
	font-family: "Dosis", sans-serif;
	position: relative;
	margin: 0; 
    padding: 0; 
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    min-height: 100vh; /* Minimum height of viewport  */
    background: rgb(255, 255, 255) no-repeat center center fixed; 
    background-size: cover; /* Ensure the background covers the entire page */
    margin: 0;
    padding: 0;
}

/* page titles */

.page-title{
    color: var(--text-color);
    display: flex;
    justify-content: center;
}   

/* .page-title > h1 {
    margin: 0;
    display: inline;
} */

.img-small {
    max-width: 300px;
    max-height: 200px;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

.btn-primary {
	background-color: var(--main-color);
}

.hover-border-link{
    color: var(--main-color);
    background-color: transparent;
    border-color: transparent;
    text-decoration: none;
    padding: 8px 13px;    /* Add some padding for button-like shape */
    border: 2px solid transparent;          /* No border by default */
    transition: all 0.1s;  /* Smooth transition effect */
}
.hover-border-link:hover{
    border: 2px solid var(--main-color); /* Add border on hover */
    background-color: transparent; /* Ensure there's no fill */
    border-radius: 0.375rem;
    cursor: pointer;
}

.hover-border-link:active {
    font-weight: bold;
}


/* tables */

table {
    width: 85%;
    margin: 40px auto; 
    background-color: var(--sec-color); /* Transparent background for the table */
    border-radius: 10px;
    border-spacing: 0 15px; /* Padding to create separation */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
th, td {
    padding: 12px;
    text-align: left;
    background-color: transparent; /* Transparent background for cells */
}
th {
    font-size: 16px;
    color: #ffffff; /* White for header text */
    background-color: var(--main-color); /* Dark teal for header background */
}
td {
    color: #000000; /* Black text color for contrast */
    vertical-align: middle;
}
tr:hover {
    background-color: #ffffff; 
    transition: background-color 0.4s ease;
}
tr:hover td {
    color: var(--main-color); /* Ensure text color changes on hover */
}
tr td:first-child, tr th:first-child { border-top-left-radius: 10px; }
tr td:last-child, tr th:last-child { border-top-right-radius: 10px; }

tr td:first-child { border-bottom-left-radius: 10px; }
tr td:last-child { border-bottom-right-radius: 10px; }

/* sorting in tables */
.sorting-column {
    cursor: pointer;
}
.sorting-column i {
    font-size: 0.8rem;
    margin-left: 5px;   /* Adds space between column name and icon */
    opacity: 0.5;       /* Makes icon slightly translucent */
}
.sorting-column:hover i {
    opacity: 1;         /* Makes icon fully opaque when column is hovered */
}


/* links */
a {
    display: inline-block;
    transition: transform 0.3s ease;
    text-decoration: none;
    cursor: pointer;
    color: var(--main-color);
}
a.text-hover-effect:hover {
    font-weight: bold;
    font-size: smaller;
}
a.link-image-label {
    text-decoration: none;
    cursor: pointer;
    color: var(--sec-color);
}



.standard-btn {
    min-width: 15em;
}


input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url('./xmark-solid.svg') no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
    opacity: .3;
    pointer-events: all;
}

input {
    margin-bottom: 0;
    box-shadow: 1px 6px 10px -10px #666;
}





.img-thumbnail{
    border: none;
    padding: 0;
}

.centered{
    display: flex;
    justify-content: center;
}