:root {
    --main-btn-color: rgb(229, 135, 138); /* Define a variable */
}

html, body {
	font-family: 'Quicksand', sans-serif;
	position: relative;
	margin: 0; 
    padding: 0; 
    width: 100%;
    height: 100%;
    background-image: url('./IMG_1354.JPG');
    background-size: 100%;
    overflow-x: hidden !important;
}

body {
	margin: 0;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    min-height: 100vh; /* Minimum height of viewport  */
}

.img-small {
    max-width: 300px;
    max-height: 200px;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

.btn-primary {
	background-color: var(--main-btn-color);
}

.hover-border-link{
    color: var(--main-btn-color);
    background-color: transparent;
    border-color: transparent;
    text-decoration: none;
    padding: 8px 13px;    /* Add some padding for button-like shape */
    border: 2px solid transparent;          /* No border by default */
    transition: all 0.1s;  /* Smooth transition effect */
}
.hover-border-link:hover{
    border: 2px solid var(--main-btn-color); /* Add border on hover */
    color: var(--main-btn-color);
    background-color: transparent; /* Ensure there's no fill */
    border-radius: 0.375rem;
    cursor: pointer;
}

.hover-border-link:active {
    font-weight: bold;
}

td {
    vertical-align: middle;
}

tbody, td, tfoot, th, thead, tr {
    border-style: none;
}

.table.table-striped td:nth-child(1), .table.table-striped th:nth-child(1) {
    padding-left: 22px; /* Adjust this value to your preference */
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-bg-type: hsla(177, 66%, 59%, 0.207);
}

table {
    --bs-table-hover-bg: #e8a77c9f;
    border-radius: 0.375rem;
    background-color: rgba(255, 255, 255, 0.33);
}

.table-container {
    border-radius: 10px; /* Adjust the border radius as needed */
}

a.link-image-label {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.sorting-column {
    cursor: pointer;
}

.sorting-column i {
    font-size: 0.8rem;
    margin-left: 5px;   /* Adds space between column name and icon */
    opacity: 0.5;       /* Makes icon slightly translucent */
}

.sorting-column:hover i {
    opacity: 1;         /* Makes icon fully opaque when column is hovered */
}

.standard-btn {
    min-width: 15em;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url('./xmark-solid.svg') no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
    opacity: .3;
    pointer-events: all;
}