{% extends 'layout.html' %}

{% block main %}
<h1>Add a new kiln</h1>

<form action="" method="post">
    {{ form.hidden_tag() }}
    <div>
        {{ form.name.label }}
        {{ form.name }}
        {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.brand.label }}
        {{ form.brand(size=32) }}
        {% for error in form.brand.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.type.label }}: {{ form.type }}
        {% for error in form.type.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.capacity.label }}
        {{ form.capacity(size=10) }} L
        {% for error in form.capacity.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.temp_max.label }}
        {{ form.temp_max(size=10) }} °C
        {% for error in form.temp_max.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.voltage.label }}
        {{ form.voltage }} kW
        {% for error in form.voltage.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.controller.label }}
        {{ form.controller }}
        {% for error in form.controller.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <p>
        {{ form.submit }}
    </p>
</form>
{% endblock %}