<!-- Modal -->
<div class="modal fade" id="modal-add-kiln" tabindex="-1" role="dialog" aria-labelledby="modal-add-kiln-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-add-kiln-title">Add a new kiln</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="form-add-kiln">
                    {{ kiln_form.hidden_tag() }}
                    <div class="form-group">
                        {{ kiln_form.name.label }}
                        {{ kiln_form.name(class_="form-control", autocomplete_="off") }}
                        {% for error in kiln_form.name.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ kiln_form.brand.label }}
                        {{ kiln_form.brand(class_="form-control", autocomplete_="off") }}
                        {% for error in kiln_form.brand.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ kiln_form.type.label }}: {{ kiln_form.type(class="form-control") }}
                        {% for error in kiln_form.type.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ kiln_form.capacity.label }}
                        {{ kiln_form.capacity(class_="form-control", autocomplete_="off") }}
                        {% for error in kiln_form.capacity.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ kiln_form.temp_max.label }}
                        {{ kiln_form.temp_max(class_="form-control", autocomplete_="off") }}
                        {% for error in kiln_form.temp_max.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ kiln_form.voltage.label }}
                        {{ kiln_form.voltage(class_="form-control", autocomplete_="off") }}
                        {% for error in kiln_form.voltage.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ kiln_form.controller.label }}
                        {{ kiln_form.controller(class_="form-control", autocomplete_="off") }}
                        {% for error in kiln_form.controller.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        {{ kiln_form.submit(class_="btn btn-primary", id="btn-add-kiln", form_="form-add-kiln") }}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>