{% extends 'layout.html' %}

{% block main %}
<h1>Add a new pot</h1>

<form action="" method="post">
    {{ form.hidden_tag() }}
    <h3>Throwing</h3>
    <div>
        {{ form.vessel_type.label }}
        {{ form.vessel_type(size=32) }}
        {% for error in form.vessel_type.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.clay_type.label }}: {{ form.clay_type }}
        {% for error in form.clay_type.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <a href="{{ url_for('add_clay') }}">Add a new clay</a>
    </div>
    <div>
        {{ form.author.label }}
        {{ form.author(size=32) }}
        {% for error in form.author.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.throw_date.label }}
        {{ form.throw_date }}
        {% for error in form.throw_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.throw_weight.label }}
        {{ form.throw_weight }}
        {% for error in form.throw_weight.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.throw_height.label }}
        {{ form.throw_height }}
        {% for error in form.throw_height.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.throw_width.label }}
        {{ form.throw_width }}
        {% for error in form.throw_width.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.throw_notes.label }}
        {{ form.throw_notes }}
        {% for error in form.throw_notes.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <h3>Trimming</h3>
    <div>
        {{ form.trim_date.label }}
        {{ form.trim_date }}
        {% for error in form.trim_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.trim_weight.label }}
        {{ form.trim_weight }}
        {% for error in form.trim_weight.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.trim_surface_treatment.label }}
        {{ form.trim_surface_treatment }}
        {% for error in form.trim_surface_treatment.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.trim_notes.label }}
        {{ form.trim_notes }}
        {% for error in form.trim_notes.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <h3>Bisque firing</h3>
    <div>
        {{ form.bisque_fire_start.label }}
        {{ form.bisque_fire_start }}
        {% for error in form.bisque_fire_start.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.bisque_fired_with_program.label }} : {{ form.bisque_fired_with_program }}
        {% for error in form.bisque_fired_with_program.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.bisque_fired_with_kiln.label }} : {{ form.bisque_fired_with_kiln }}
        {% for error in form.bisque_fired_with_kiln.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.bisque_fire_end.label }}
        {{ form.bisque_fire_end }}
        {% for error in form.bisque_fire_end.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.bisque_fire_open.label }}
        {{ form.bisque_fire_open }}
        {% for error in form.bisque_fire_open.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.bisque_fire_notes.label }}
        {{ form.bisque_fire_notes }}
        {% for error in form.bisque_fire_notes.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <h3>Glazing</h3>
    <div>
        {{ form.glaze_date.label }}
        {{ form.glaze_date }}
        {% for error in form.glaze_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.used_glazes.label }}: {{ form.used_glazes }}
        {% for error in form.used_glazes.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <a href="{{ url_for('add_glaze') }}">Add a new glaze</a>
    </div>
    <div>
        {{ form.glaze_notes.label }}
        {{ form.glaze_notes }}
        {% for error in form.glaze_notes.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <h3>Glaze firing</h3>
    <div>
        {{ form.glaze_fire_start.label }}
        {{ form.glaze_fire_start }}
        {% for error in form.glaze_fire_start.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.glaze_fired_with_program.label }} : {{ form.glaze_fired_with_program }}
        {% for error in form.glaze_fired_with_program.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.glaze_fired_with_kiln.label }} : {{ form.glaze_fired_with_kiln }}
        {% for error in form.glaze_fired_with_kiln.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.glaze_fire_end.label }}
        {{ form.glaze_fire_end }}
        {% for error in form.glaze_fire_end.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.glaze_fire_open.label }}
        {{ form.glaze_fire_open }}
        {% for error in form.glaze_fire_open.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.glaze_fire_notes.label }}
        {{ form.glaze_fire_notes }}
        {% for error in form.glaze_fire_notes.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.submit }}
    </div>
</form>
{% endblock %}