{% extends 'layout.html' %}

{% block main %}
<h1>List of glazes</h1>
<table>
    <thead>
        <tr>
            <th>Pots</th>
            <th>Brand</th>
            <th>ID</th>
            <th>Name</th>
            <th>Color</th>
            <th>Min. temp.</th>
            <th>Max. temp.</th>
            <th>URL</th>
        </tr>
    </thead>
    <body>
        {% for glaze in glazes %}
        <tr>
            <td><a href="{{ url_for('show_glaze', glaze_id=glaze.id) }}">View pots</a></td>
            <td>{{ glaze.brand or '' }}</td>
            <td>{{ glaze.brand_id or '' }}</td>
            <td>{{ glaze.name or '' }}</td>
            <td>{{ glaze.color or '' }}</td>
            <td>{{ glaze.temp_min ~ glaze.temp_unit or '' }}</td>
            <td>{{ glaze.temp_max ~ glaze.temp_unit or '' }}</td>
            <td>
                <a href="{{ glaze.glaze_url }}" target="_blank">{{ glaze.glaze_url or '' }}</a>
            </td>
        </tr>
        {% endfor %}
    </body>
</table>
<a href="{{ url_for('add_glaze') }}">Add a new glaze</a>
{% endblock %}