{% extends 'layout.html' %}
{% include 'addkiln.html' %}
{% include 'addfiringprogram.html' %}

{% block main %}
<h1>List of kilns</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Brand</th>
            <th>Type</th>
            <th>Capacity</th>
            <th>Max. temp.</th>
            <th>Voltage</th>
            <th>Controller</th>
        </tr>
    </thead>
    <body>
        {% for kiln in kilns %}
        <tr>
            <td>{{ kiln.name or '' }}</td>
            <td>{{ kiln.brand or '' }}</td>
            <td>{{ kiln.type or '' }}</td>
            <td>{{ kiln.capacity ~ 'L' if kiln.capacity else '' }}</td>
            <td>{{ kiln.temp_max ~ '°C' if kiln.temp_max else '' }}</td>
            <td>{{ kiln.voltage ~ 'kW' if kiln.voltage else '' }}</td>
            <td>{{ kiln.controller or '' }}</td>
        </tr>
        {% endfor %}
    </body>
</table>
<button id="add-new-kiln" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-kiln" data-reload-page="true">Add a new kiln</button>

<h1>List of firing programs</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Segments</th>
            <th>Total firing time</th>
        </tr>
    </thead>
    <body>
        {% for program in firing_programs %}
        <tr>
            <td>{{ program.id or '' }}</td>
            <td class="font-weight-bold">{{ program.name or '' }}</td>
            <td>
                <dd>
                    {% for segment in program.ordered_segments %}
                        <li class="py-2">
                            {% if segment.segment.temp_start == segment.segment.temp_end %}
                                Hold {{ segment.segment.temp_start ~ '°C' or '' }}:
                            {% else %}
                                {{ segment.segment.temp_start ~ '°C' or '' }} -
                                {{ segment.segment.temp_end ~ '°C' or '' }}:
                            {% endif %}
                            {% if segment.segment.time_to_reach %}
                                {{ segment.segment.time_to_reach ~ 'min' or '' }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </dd>
            </td>
            <td>Min. {{ total_firing_time[program.id] }}</td>
        </tr>
        {% endfor %}
    </body>
</table>
<button id="add-new-firing-program" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-firing-program" data-reload-page="true">Add a new firing program</button>

{% endblock %}