{% extends 'layout.html' %}
{% include 'addclay.html' %}

{% block main %}
<h1>List of clays</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Pots</th>
            <th>Brand</th>
            <th>Name or ID</th>
            <th>Color</th>
            <th>Min. temp.</th>
            <th>Max. temp.</th>
            <th>Grog percentage</th>
            <th>Grog size</th>
        </tr>
    </thead>
    <body>
        {% for clay in clays %}
        <tr>
            <td><a href="{{ url_for('show_clay', clay_id=clay.id) }}">View pots</a></td>
            <td>{{ clay.brand or '' }}</td>
            <td>{{ clay.name_id or '' }}</td>
            <td>{{ clay.color or '' }}</td>
            <td>{{ clay.temp_min ~ '°C' if clay.temp_min else '' }}</td>
            <td>{{ clay.temp_max ~ '°C' if clay.temp_max else '' }}</td>
            <td>{{ clay.grog_percent ~ '%' if clay.grog_percent else '' }}</td>
            <td>{{ clay.grog_size_max ~ 'mm' if clay.grog_size_max else '' }}</td>
        </tr>
        {% endfor %}
    </body>
</table>
<button id="add-new-clay" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal-add-clay" data-reload-page="true">Add a new clay</button>
{% endblock %}