{% extends 'layout.html' %}
{% include 'addglaze.html' %}

{% block main %}
<h1>List of glazes</h1>

<div class="float-right">
    <button id="add-new-glaze" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-glaze" data-reload-page="true">Add a new glaze</button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Pots</th>
            <th>Brand</th>
            <th>ID</th>
            <th>Name</th>
            <th>Color</th>
            <th>Min. temp.</th>
            <th>Max. temp.</th>
            <th>Cone</th>
            <th>URL</th>
        </tr>
    </thead>
    <body>
        {% for glaze in glazes %}
        <tr>
            <td><a href="{{ url_for('show_glaze', glaze_id=glaze.id) }}">View pots</a></td>
            <td>{{ glaze.brand or '' }}</td>
            <td>{{ glaze.brand_id or '' }}</td>
            <td>{{ glaze.name or '' }}</td>
            <td>{{ glaze.color or '' }}</td>
            <td>{{ glaze.temp_min ~ '°C' if glaze.temp_min else '' }}</td>
            <td>{{ glaze.temp_max ~ '°C' if glaze.temp_max else '' }}</td>
            <td>{{ glaze.cone or '' }}</td>
            <td>
                <a href="{{ glaze.glaze_url }}" target="_blank">{{ glaze.glaze_url or '' }}</a>
            </td>
        </tr>
        {% endfor %}
    </body>
</table>

{% endblock %}